body {
  padding: 20px;
  background-color: darkgrey;
  color: yellow;
}

th, tr, td {
  background-color: lightgray;
}

td {
  font-size: large;
}

.add-button {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}